<section class="s-contact">
	<div class="o-wrapper">
		<h1>Ficou Interessado</h1>
		<h2>Preencha o formulário e entre em contato conosco!</h2>

		<form action="javascript:;">
			
			<label for="name">Nome: 
				<input type="text" name="name" id="name">
			</label>

			<label for="email">Email: 
				<input type="email" name="email" id="email">
			</label>
			
			<label for="phone">Telefone: 
				<input type="text" name="phone" id="phone">
			</label>

			<label for="message">Mensagem: 
				<textarea name="message" id="message"></textarea>
			</label>

			<input type="submit" value="Enviar" class="c-btn c-btn--color-green c-btn--align-center">
		</form>
	</div>	
</section>