<footer>
	<div class="o-wrapper">
		<ul class="c-list-social">
			<li class="c-list-social__item c-list-social__item--facebook"><a href="javascript:;" title="Facebook" target="_lank">Facebook</a></li>
			<li class="c-list-social__item c-list-social__item--instagram"><a href="javascript:;" title="Instagram" target="_lank">Instagram</a></li>
			<li class="c-list-social__item c-list-social__item--twitter"><a href="javascript:;" title="Twitter" target="_lank">Twitter</a></li>
		</ul>
		<span class="c-copyright">2016 © Travel Company. Todos os direitos reservados. <a href="javascript:;" title="DZ Studio" target="_blank"><img src="/assets/img/logos/logo_dz.jpg" alt="DZ Studio"></a></span>
	</div>
</footer>