<header class="s-index-header">
	<div class="o-wrapper">
		<img src="" class="s-index-header__logo">
		<nav class="c-nav">
			<ul class="c-nav__list">
				<li>
					<a href="javascript:;" class="c-nav__list-item">Sobre nós</a>
					<ul class="c-nav__list c-nav__hidden-list">
						<li>Item 01</li>
						<li>Item 02</li>
						<li>Item 03</li>
						<li>Item 04</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="c-nav__list-item">Destinos</a>
					<ul class="c-nav__list c-nav__hidden-list">
						<li>Item 01</li>
						<li>Item 02</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="c-nav__list-item">Acomodações</a>
					<ul class="c-nav__list c-nav__hidden-list">
						<li>Item 01</li>
						<li>Item 02</li>
						<li>Item 03</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;" class="c-nav__list-item">Contato</a>
					<ul class="c-nav__list c-nav__hidden-list">
						<li>Item 01</li>
						<li>Item 02</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</header>