<header class="s-index-header">
	<div class="o-wrapper">
		<div class="s-index-header__menu-icon">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
		<img src="/assets/img/logos/logo_travel.png" class="s-index-header__logo">
		<nav class="c-nav">
			<ul class="c-nav__list">
				<li class="c-nav__list-item">
					<span>Sobre nós</span>
				</li>
				<ul class="c-nav__hidden-list">
					<li><a href="javascript:;">Item 01</a></li>
					<li><a href="javascript:;">Item 02</a></li>
					<li><a href="javascript:;">Item 03</a></li>
					<li><a href="javascript:;">Item 04</a></li>
				</ul>
				<li class="c-nav__list-item">
					<span>Destinos</span>
				</li>
				<ul class="c-nav__hidden-list">
					<li><a href="javascript:;">Item 01</a></li>
					<li><a href="javascript:;">Item 02</a></li>
				</ul>
				<li class="c-nav__list-item">
					<span>Acomodações</span>
				</li>
				<ul class="c-nav__hidden-list">
					<li><a href="javascript:;">Item 01</a></li>
					<li><a href="javascript:;">Item 02</a></li>
					<li><a href="javascript:;">Item 03</a></li>
				</ul>
				<li class="c-nav__list-item">
					<span>Contato</span>
				</li>
				<ul class="c-nav__hidden-list">
					<li><a href="javascript:;">Item 01</a></li>
					<li><a href="javascript:;">Item 02</a></li>
				</ul>
			</ul>
		</nav>
	</div>
</header>