<section class="s-slider-banner">
	<div class="c-slider">
		<ul class="c-slider__container">
			<li class="c-slider__item">
				<h1 class="c-slider__item-ttl">Melhores Destinos</h1>
				<span class="c-slider__item-txt">Percebemos, cada vez mais, que o novo modelo estrutural aqui preconizado faz parte de um processo de gestão de alternativas às soluções ortodoxas.</span>
			</li>
			<li class="c-slider__item">
				<h1 class="c-slider__item-ttl">Melhores Destinos</h1>
				<span class="c-slider__item-txt">Percebemos, cada vez mais, que o novo modelo estrutural aqui preconizado faz parte de um processo de gestão de alternativas às soluções ortodoxas.</span>
			</li>
			<li class="c-slider__item">
				<h1 class="c-slider__item-ttl">Melhores Destinos</h1>
				<span class="c-slider__item-txt">Percebemos, cada vez mais, que o novo modelo estrutural aqui preconizado faz parte de um processo de gestão de alternativas às soluções ortodoxas.</span>
			</li>
			<li class="c-slider__item">
				<h1 class="c-slider__item-ttl">Melhores Destinos</h1>
				<span class="c-slider__item-txt">Percebemos, cada vez mais, que o novo modelo estrutural aqui preconizado faz parte de um processo de gestão de alternativas às soluções ortodoxas.</span>
			</li>
		</ul>
		<a href="javascript:;" class="c-slider__arrow c-slider__arrow--prev"></a>
		<a href="javascript:;" class="c-slider__arrow c-slider__arrow--next"></a>
	</div>
</section>